<div id="<%= dom_id appeal %>">
  <p>
    <strong>Title:</strong>
    <%= appeal.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= appeal.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appeal.status %>
  </p>

</div>
