<% content_for :title, "Editing appeal" %>

<%= render "form", appeal: @appeal %>

<br>

<div>
  <%= link_to "Show this appeal", @appeal %> |
  <%= link_to "Back to Appeals", appeals_path, class: "govuk-button govuk-button--secondary govuk-!-margin-left-2" %>
</div>
